# PowerShell
*.ps1xml
*.psc1
*.pssc

# Test artefacts
testResults.xml
**/testResults.xml

# Editor/OS
.vscode/
.idea/
*.code-workspace
.DS_Store
Thumbs.db

# Python (se usares ruff/black em paralelo)
__pycache__/
*.pyc
.venv/
venv/
